@media screen and (max-width: 400px) {
  #configurator {
    padding: 20px;
    width: 111%;
  }
  #configurator,
  #services,
  #Register,
  #login,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
